# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Dialogue System.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Dialogue System\.idea\.idea.Dialogue System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
